<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>zVault Cloud App | Home</title>
</head>
<body>
<h1>zVault Home</h1>
<p>
This is the home page for the
<a href="http://www.zighra.com/">zVault</a>
2-factor Authentication.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
</body>
</html>
